# python compiled
*.egg*
*.py[cod]
__pycache__
.python-version

# build files
/build/
/dist/
/.spyproject/

# Editors
*.sublime*
*.vscode
.idea

/Backup_of_diagrama.cdr
/*.LCN
/*.LCO
/LabControle2.1b2_x64.zip
/.venv/
